.profile__conteiner {
  width: 100%;
  display: grid;
  grid-template-columns: min-content  auto min-content;
}

@media screen and (max-width:767px) {
  .profile__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
