.popup__input {
  display: block;
  border: none;
  width: 358px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 11.5px 0 11.5px;
  color: #000000;
}
.popup__input:last-child {
  margin-bottom: 0;
}

@media screen and (max-width:767px) {
  .popup__input {
    width: 84.39%;
  }
}
