.card__delete-button {
  width: 18px;
  height: 19px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  background-image: url(./images/delete-but.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
}

.card__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.popup_type_large-picture {
  background-color: rgba(0, 0, 0, 0.9);
  visibility: visible;
}

.large-picture {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-self: center;
  margin: 0 auto;
  position: relative;
}



.large-picture__img {
  max-width: 75vw;
  max-height: 75vh;

}


.large-picture__signature {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 10px;
}
