.popup__submit-button {
  display: block;
  width: 358px;
  height: 50px;
  margin: 48px auto 0;
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width:767px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 17px;
    width: 84.39%;
    height: 46px;
    margin-top: 45px;
  }
}
