.profile__add-button {
  height: 48px;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding: 0;
  background-color: #000000;
  width: 11.7vw;
  justify-self: end;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width:767px) {
  .profile__add-button {
    width: 100%;
  }
}
